<div class=" bg-neutral py-16 -mt-1">
    <div class="px-5 md:px-10 lg:px-16">

        <div class="hero-text pt-24 lg:pt-9">
            <div class="h-96 flex flex-col justify-center sm:w-4/5 md:w-3/4 lg:w-3/4 xl:w-2/3 mx-auto">
                <p class="mb-0 font-semibold text-lg text-white">About this app</p>
                <p class="main-bio text-xl lg:text-2xl font-light text-white">This is a mobile app created for gamer
                    geeks like me to share information about games and their gameplays. It
                    This is a mobile app created for gamer geeks like me to share information about games and their
                    gameplays. It
                    allows gamers to have a new platform to socialize and become friends in the world that they love.
                </p>
                <p class="text-white font-light">Built using <strong>Angular, Node Js, Express, PostgreSQL and the
                        Tailwind
                        CSS</strong> framework</p>

                <a href="https://g-riend-gamer-app.vercel.app/" target="_blank" rel="nonreferer"
                    class="w-fit mt-5 text-white use-app-griend font-semibold  px-3 py-2 transition-all duration-200 ease-in-out hover:bg-white hover:bg-opacity-5 ">Try
                    app</a>
            </div>

        </div>


        <div class="grid grid-cols-1  justify-items-centergap-x-4 gap-y-4 md:grid-cols-2 lg:grid-cols-4">
            <img src="../../../assets/griend/localhost_4200_(Samsung Galaxy S20 Ultra) (3).png" alt=""
                class=" rounded-md griend-img">
            <img src="../../../assets/griend/localhost_4200_(Samsung Galaxy S20 Ultra) (4).png" alt=""
                class=" rounded-md griend-img">
            <img src="../../../assets/griend/localhost_4200_(Samsung Galaxy S20 Ultra) (6).png" alt=""
                class=" rounded-md griend-img">
            <img src="../../../assets/griend/localhost_4200_(Samsung Galaxy S20 Ultra) (5).png" alt=""
                class=" rounded-md griend-img">
        </div>
    </div>
</div>