<div class="bg-neutral py-16 ">
    <div class="px-5 md:px-10 lg:px-16 w-full">
        <div class="hero-text pt-9">
            <div class="h-96 flex flex-col justify-center sm:w-4/5 md:w-3/4 lg:w-3/4 xl:w-2/3 mx-auto des-phil">
                <p class="mb-0 font-semibold text-lg text-white">Design Philosophy</p>
                <p class="main-bio text-xl lg:text-2xl font-light text-white">
                    My design philosophy revolves around the seamless fusion of aesthetics and functionality. I believe
                    in crafting experiences that not only captivate the audience visually but also provide an intuitive
                    and enjoyable user experience.
                </p>
            </div>

        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-5 gap-y-5 place-items-start w-full">
            <img src="../../../assets/skoolify/skoolify-index.png" alt="" class="object-contain shadow-lg proj-img">
            <img src="../../../assets/skoolify/skoolify-sign-in.png" alt="" class=" object-contain shadow-lg proj-img">
            <img src="../../../assets/skoolify/skoolify-sign-up.png" alt="" class=" object-contain shadow-lg proj-img">
        </div>


    </div>
</div>