@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    @apply text-neutral;
}

h1, h2{
    margin-bottom: 20px;
}

h2{
    font-size: 1.3rem;
    font-weight: 300;
}
p{
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.5;
}
