<div class="px-5 mb-0 md:px-10 lg:px-16  bg-neutral text-white py-32 h-screen flex relative justify-center place-items-center" id="skills-sect">
    <p class="absolute mb-0 text-2xl text-center glow-text font-light">Web applications built over<br>passion, <span class="font-semibold">creativity</span>
        and with<br><span class="text-secondary">Love</span> for the <span class="text-secondary">Web</span></p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 align-middle">
        <div class="col-text md:pr-4">
            <p>In Frontend Development, I excel in <span class="ng">Angular</span>, <span class="vue">Vue.js</span>,
                <span class="wp">WordPress</span>, <span class="html">HTML</span>, and <span class="css">CSS</span>,
                crafting visually
                appealing and user-friendly interfaces. On the Backend, I bring expertise in <span
                    class="vue">Node.js</span>, <span class="wp">Java</span> Springboot,
                and <span class="html">PHP</span>, ensuring robust and scalable server-side solutions.
            </p>

            <p>Complementing my technical skills are Soft Skills such as creativity, accountability, and
                problem-solving. A critical thinker, I approach challenges strategically, delivering results with
                responsibility. As a team player, I thrive in collaborative environments, fostering positive
                communication within diverse project teams.</p>
        </div>
        <div class="col p-6 flex relative justify-center place-items-center">

            <div class="hidden md:block mockup-code mock-glow absolute top-0 bg-white bg-opacity-10 backdrop-blur-md"
                id="code-1">
                <pre data-prefix="$"><code>npm install &commat;angular/cli</code></pre>
                <pre data-prefix=">" class="text-warning"><code>\ <span class="install-text"></span></code></pre>
                <pre data-prefix=">" class="text-success"><code>Installed!!</code></pre>
            </div>

            <div class="hidden md:block mockup-code mock-glow absolute top-0 opacity-0 bg-white bg-opacity-10 backdrop-blur-md"
                id="code-2">
                <pre data-prefix="$"><code>ng new ng-portfolio</code></pre>
                <pre data-prefix=">" class="text-warning"><code>\ <span class="install-text2"></span></code></pre>
                <pre data-prefix=">" class="text-success"><code>Soo cool!!</code></pre>
            </div>

            <div class="absolute hidden md:flex w-full px-8" id="progg">
                <div class="flex h-full w-full justify-center place-items-center relative">
                    <img src="../../../assets/right-text/small.png" alt="skills" class="skills-img w-3/4 absolute">
                    <img src="../../../assets/right-text/larger.png" alt="skills" class="skills-img  w-3/4 absolute">
                    <img src="../../../assets/right-text/largest.png" alt="skills" class="skills-img  w-3/4 absolute">
                    <p class="font-bold text-lg creative mb-0">Creative</p>
                </div>
            </div>

        </div>
    </div>
</div>