<div class="px-5 md:px-10 lg:px-16 mt-8 bg-neutral text-white py-32 h-screen flex place-items-center" id="skills-sect">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 align-middle">
        <div class="col-text md:pr-4">
            <p>In Frontend Development, I excel in <span class="ng">Angular</span>, <span class="vue">Vue.js</span>,
                <span class="wp">WordPress</span>, <span class="html">HTML</span>, and <span class="css">CSS</span>,
                crafting visually
                appealing and user-friendly interfaces. On the Backend, I bring expertise in <span
                    class="vue">Node.js</span>, <span class="wp">Java</span> Springboot,
                and <span class="html">PHP</span>, ensuring robust and scalable server-side solutions.</p>

            <p>Complementing my technical skills are Soft Skills such as creativity, accountability, and
                problem-solving. A critical thinker, I approach challenges strategically, delivering results with
                responsibility. As a team player, I thrive in collaborative environments, fostering positive
                communication within diverse project teams.</p>

        </div>
        <div class="col p-6 flex relative justify-center place-items-center">

            <div class="mockup-code mock-glow absolute top-0 bg-white bg-opacity-10 backdrop-blur-md" id="code-1">
                <pre data-prefix="$"><code>npm install &commat;angular/cli</code></pre>
                <pre data-prefix=">" class="text-warning"><code>\ <span class="install-text"></span></code></pre>
                <pre data-prefix=">" class="text-success"><code>Installed!!</code></pre>
            </div>

            <div class="mockup-code mock-glow absolute top-0 opacity-0 bg-white bg-opacity-10 backdrop-blur-md"
                id="code-2">
                <pre data-prefix="$"><code>ng new ng-portfolio</code></pre>
                <pre data-prefix=">" class="text-warning"><code>\ <span class="install-text2"></span></code></pre>
                <pre data-prefix=">" class="text-success"><code>Soo cool!!</code></pre>
            </div>

            <div class=" absolute opacity-0 flex flex-col gap-10 w-full px-8" id="progg">
                <div class="flex flex-col md:flex-row place-items-center">
                    <p class="mb-0 w-1/4">Angular 2+</p><progress class="progress progress-accent w-3/4" value="80" max="100" ></progress>
                </div>

                
                
            </div>

        </div>
    </div>
</div>