:root {
    --gradient-shadow: linear-gradient(45deg,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000);
}

.mock-glow {
    transform-origin: bottom;
    transform: rotateX(-45deg) rotateZ(-45deg);
}

.col-text p{
    @apply text-base lg:text-xl;
}

img.skills-img{
    filter: invert(100%);
    color: #ffffff3f;
}
p.glow-text{
//  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
}
