


<div class="grid grid-cols-1 lg:grid-cols-3 gap-10  mt-5 px-5 md:px-10 lg:px-16">
 
    <div class="tab-mainContent w-full" >
      
      <h3>Bongani IT Solutions Pty Ltd</h3>
      <h4 class="text-secondary">Web Developer Intern</h4>
      <p>During my internship at BITS, I served as a web developer within a collaborative team. Our primary
        responsibilities involved constructing and overseeing websites tailored to meet clients' individual
        requirements. The key technologies employed in our projects were PHP, WordPress, and Angular.</p>
    </div>
    <div class="tab-mainContent w-full" >
     
      <h3>Bastion Group</h3>
      <h4 class="text-secondary">Junior Web Developer</h4>
      <p>Presently, I hold the position of a junior web developer at Bastion Group, where my responsibilities include
        the creation of websites and interactive web applications. I utilize JavaScript frameworks such as Angular and
        Vue.js, along with server-side technologies like Node.js and PHP. For database management, I work with MySQL and
        PostgreSQL.</p>
    </div>
    <div class="tab-mainContent w-full" >
    
      <h3>The Digital Academy</h3>
      <h4 class="text-secondary">Fullstack Developer Intern</h4>
      <p>During my internship at The Digital Academy, I served as a full-stack developer, focusing on the development of
        mobile and web applications. I utilized Angular and Vue.js for client-side technologies, and for server-side
        languages, I employed Node.js and Java Springboot. The projects involved creating comprehensive applications
        with integrations to both MongoDB and Postgres databases.</p>
    </div>
 
</div>