<app-nav></app-nav>
<div class="px-5 md:px-10 lg:px-16" id="intro-section">
  <div class="hero-text">
    <div class="h-96 flex flex-col justify-center sm:w-4/5 md:w-3/4 lg:w-3/4 xl:w-2/3 mx-auto">
      <p class="mb-0 font-semibold text-lg">Kagiso Monageng</p>
      <p class="mb-3 font-light text-secondary">Web Developer</p>
      <p class="main-bio text-xl lg:text-2xl font-light">
        As an aspiring junior web developer with a flair for creativity, I am eager to showcase my skills and expand my knowledge within your esteemed company. I am enthusiastic about the prospect of demonstrating my dedication and passion for coding, as well as my eagerness to learn and embrace new technologies. I look forward to the opportunity to contribute to and grow with your team.      </p>
    </div>
   
  </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
  <img src="../assets/ui-ux-design.png" alt="UI Design" class="intro-img">
  <img src="../assets/ui-ux-design.png" alt="" class="intro-img">
</div>

<app-xp-tabs></app-xp-tabs>

<app-skill-set></app-skill-set>

<p class="my-96">z</p>
<p class="my-96">z</p>
<p class="my-96">z</p>
<p class="my-96">z</p>
<p class="my-96">z</p>

