<app-nav></app-nav>
<div class="px-5 md:px-10 lg:px-16" id="intro-section">
  <div class="hero-text">
    <div class="h-96 flex flex-col justify-center sm:w-4/5 md:w-3/4 lg:w-3/4 xl:w-2/3 mx-auto">
      <p class="mb-0 font-semibold text-lg">Kagiso Monageng</p>
      <p class="mb-3 font-light">Web Developer</p>
      <p class="main-bio text-xl lg:text-2xl font-light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi eos quo tempore perferendis reiciendis sed consectetur porro corrupti odio, voluptatum maiores dolores deleniti voluptas ratione ea nostrum error blanditiis amet.
      </p>
      
    </div>
   
  </div>
</div>