<app-nav></app-nav>
<div class=" min-h-screen relative pb-40" id="intro-section">
  <div class="px-5 md:px-10 lg:px-16  min-h-screen w-full">
    <div class="hero-text pt-24 lg:pt-9">
      <div class="h-96 flex flex-col justify-center sm:w-4/5 md:w-3/4 lg:w-3/4 xl:w-2/3 mx-auto">
        <p class="mb-0 font-semibold text-lg text-white">Kagiso Monageng</p>
        <p class="mb-3 font-light text-secondary">Web Developer</p>
        <p class="main-bio text-xl lg:text-2xl font-light text-white">
          As an aspiring junior web developer with a flair for creativity, I am eager to showcase my skills and expand
          my knowledge within your esteemed company. I am enthusiastic about the prospect of demonstrating my dedication
          and passion for coding, as well as my eagerness to learn and embrace new technologies. I look forward to the
          opportunity to contribute to and grow with your team. </p>
      </div>
  
    </div>
  
    <div id="xp-tabs" class="grid grid-cols-1 lg:grid-cols-3  gap-10 px-5 md:px-10 lg:px-16">
  
      <div class="tab-mainContent w-full">
  
        <h3>Bongani IT Solutions Pty Ltd</h3>
        <h4 class="text-secondary">Web Developer Intern</h4>
        <p>During my internship at BITS, I served as a web developer within a collaborative team. Our primary
          responsibilities involved constructing and overseeing websites tailored to meet clients' individual
          requirements. The key technologies employed in our projects were PHP, WordPress, and Angular.</p>
      </div>
      <div class="tab-mainContent w-full">
  
        <h3>Bastion Group</h3>
        <h4 class="text-secondary">Junior Web Developer</h4>
        <p>Presently, I hold the position of a junior web developer at Bastion Group, where my responsibilities include
          the creation of websites and interactive web applications. I utilize JavaScript frameworks such as Angular and
          Vue.js, along with server-side technologies like Node.js and PHP. For database management, I work with MySQL and
          PostgreSQL.</p>
      </div>
      <div class="tab-mainContent w-full">
  
        <h3>The Digital Academy</h3>
        <h4 class="text-secondary">Fullstack Developer Intern</h4>
        <p>During my internship at The Digital Academy, I served as a full-stack developer, focusing on the development of
          mobile and web applications. I utilized Angular and Vue.js for client-side technologies, and for server-side
          languages, I employed Node.js and Java Springboot. The projects involved creating comprehensive applications
          with integrations to both MongoDB and Postgres databases.</p>
      </div>
  
    </div>
  </div>


</div>
<app-xp-tabs></app-xp-tabs>
<app-skill-set></app-skill-set>
<app-projects></app-projects>
<div class="flex justify-center bg-neutral text-white">
  <p class="text-center">Here are few useful links:</p>
</div>
<div class="bg-neutral flex flex-col lg:flex-row gap-7 lg:gap-20 justify-center place-items-center pb-32">


  <a href="https://github.com/KagisoMonageng" target="_blank" rel="nonreferer" class="text-white font-light"><span class="font-semibold">GitHub</span> Profile</a>

  <a href="../assets/docs/portfolio.pdf" target="_blank" rel="nonreferer" class="text-white font-light"><span class="font-semibold">Graphics</span> Porfolio</a>

  <a href="../assets/docs/kagiso-monageng-cv.pdf" target="_blank" rel="nonreferer" class="text-white font-light"><span class="font-semibold">My</span> Resume</a>


</div>
